* { margin: 0; padding: 0; }

body { font-family: "Courier New", Courier, monospace;  }

.tac { text-align: center; }
.fL { float:left; }
.clear { clear:both; }

#conteudo { margin: 15px; }

#registros { width: 100%; font-size:12px; border: 1px solid #ccc; border-collapse: collapse; table-layout: fixed; border-spacing: 10px; }
#registros td { padding: 10px; word-wrap: break-word; }

#registros thead { background-color:black; color:white; }
#registros thead tr td { text-align: center; }

#registros tbody tr { border-bottom: 1px solid #ccc; }
#registros tbody tr td#id { background-color: black; color:white;  }
#registros tbody tr td#pass { background-color: black; }
#registros tbody tr:hover  { background-color: #e2e2e2; }
#registros tbody tr:hover td#pass { background-color: white; }


/* Filtros */
#filtro { margin: 10px;}

/* NovoRegistro */
#novoregistro {  margin: 15px;  border: 1px solid #ccc; display:none;  }
#element { margin:20px; }

#btn_criarnovo { margin-left: 15px; }
.btn { border: 1px solid #ccc; padding: 6px; background-color:whitesmoke; }
.btn:hover { background-color:gray;color:white; cursor:pointer; }

/* delete registro */
#btn_deletar { color:white; text-decoration:none; cursor: crosshair; }